.container {
  margin: 10px;

  flex: 1;
  max-width: calc(25% - 20px);
  min-width: 200px;
  overflow: hidden;

  background: var(--card-background);

  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--card-hover);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.header {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--cards-head-text);
  border-bottom: 1px solid var(--primary-border);
  background-color: var(--primary);
  padding: 5px 10px;
  position: relative;
}

.infoField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.description {
  font-size: 28px;
  text-align: center;
  min-height: 35px;
}
