.toggleButton {
  font: bold 16px arial;
  color: var(--button);
  border: 2px solid var(--button);
  background: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.toggleButton:hover {
  transform: translateY(-2px) scale(1.005) translateZ(0);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.11), 0 6px 9px var(--card-hover);
}

.toggleButton:active {
  transform: translateY(2px) scale(0.995) translateZ(0);
  box-shadow: none;
}
